*~
_result
/crash.dmp
.DS_Store
/Pharo.*
/pharo-vm
/pharo-ui
/vm.sh
/vm-ui.sh
/pharo
/pillar
files/
/package-cache
stderr
stdout
/build
*/figures/Thumbs.db
/pillarPostExport.sh
/play-cache
/PharoDebug.log
/auto
mustache
/TinyBlogImages5
/TinyBlogImages6
