% -*- mode: latex; -*-
%!TEX TS-program = lualatex
\documentclass[10pt,twoside,english]{root/support/latex/sbabook/sbabook}
\usepackage{import}
\subimport{root/support/latex/}{common.tex}

\begin{document}

{{=« »=}}
«! the '&' below prevents HTML escaping. »
\title{«& title»}
\author{«& authors»}

\begin{titlingpage}
    \maketitle
\end{titlingpage}

\tableofcontents

«& content»

\end{document}
